
#main-menu-button {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9a6d07 0%, #b46700 100%),
            #e5c781, #e7a000,
            radial-gradient(center 50% 50%, radius 100%, #802b2b, #570303);
    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.75), 4, 0 , 0, 1);
    -fx-background-insets: 0,0 0 3 0, 0 2 6 0, 0 0 8 0;
    -fx-background-radius: 3;
    -fx-padding: 8 15 15 15;
    -fx-font-size: 1.1em;
}

#main-menu-button:hover {
    -fx-background-color:
            linear-gradient(from 0% 90% to 0% 100%, #9a6d07 4%, #b46700 100%),
            #e5c781, #e7a000,
            radial-gradient(center 50% 50%, radius 100%, #bb2a2a, #b46700);
}

#main-menu-button:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
    -fx-padding: 10 15 13 15;
}
